.App {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  max-height: 100vh;
  min-height: 100vh;

  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-bottom: 8px;

  font-size: 2.5rem;
  font-weight: 500;

  background-color: #324266;
}

.App-footer {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-bottom: 2px;

  font-size: 1.0rem;
  font-weight: 500;

  background-color: #324266;
}

.App-content {
  display: flex;
  flex: 1 1 auto;

  height: 100%;
  width: min(100%,1200px);
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
  justify-content: center;

  border-radius: 16px 16px 16px 16px;
  background-color: #000;
}

/*
* Game Menu
*/

.App-game-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;

  width: 100%;
  margin: 16px;
}

.App-game-menu-option {
  display: flex;

  width: 100%;
  height: 100%;
  max-height: 320px;
  /* margin: 5px; */
}

.App-game-menu-option-button {
  width: 100%;

  outline: none;
  border: 0 none;
  border-radius: 50px;

  margin-top: 0px;
  margin-left: 0px;

  font-size: 1.5rem;
  font-weight: 500;

  color: #ddd;
  background-color: #3e5bda;
  box-shadow: inset -8px -6px 0px 0px #999;
}

.App-game-menu-option-button:hover {
  color: #eee;
  background-color: rgb(103, 128, 240);
}

.App-game-menu-option-button:active {
  margin-top: 8px;
  margin-left: 6px;

  color: #fff;
  background-color: #5973eb;
  box-shadow: inset 0px 0px 0px 0px #999;
}

/*
* Game Option
*/

.App-game-option {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 8px;
}

.App-game-option-back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.App-game-option-back-button {
  padding: 10px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;

  font-size: 1.0rem;
  font-weight: 500;

  color: #ddd;
  background-color: #a70000;
  box-shadow: inset -2px -2px 0px 0px #999;
}

.App-game-option-back-button:hover {
  color: #eee;
  background-color: #cc0000;
}

.App-game-option-back-button:active {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: -2px;
  margin-bottom: -2px;

  color: #fff;
  background-color: #ff0000;
  box-shadow: inset 0px 0px 0px 0px #999;
}

.App-game-option-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  row-gap: 32px;
}

.App-game-option-form-title {
  font-size: 1.5rem;
  font-weight: 500;

  color: #fff;
}

.App-game-option-form-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  row-gap: 12px;
}

.App-game-option-form-input-label {

  font-size: 1.0rem;
  font-weight: 500;

  color: #fff;
}

.App-game-option-form-content {
}

.App-game-option-form-button {
  width: 240px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;

  font-size: 1.5rem;
  font-weight: 500;

  color: #ddd;
  background-color: #20b112;
  box-shadow: inset -2px -2px 0px 0px #999;
}

.App-game-option-form-button:hover {
  color: #eee;
  background-color: #25ce15;
}

.App-game-option-form-button:active {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: -2px;
  margin-bottom: -2px;

  color: #fff;
  background-color: #4bda3e;
  box-shadow: inset 0px 0px 0px 0px #999;
}

.App-game-option-form-button:disabled {
  color: #b3b3b3;
  background-color: #353535;
  box-shadow: inset 0px 0px 0px 0px #999;
}

/*
* Waiting Room
*/

.App-game-waitroom {
  display: flex;

  width: 100%;
  margin: 8px;
}


.App-game-waitroom-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  width: 100%;
}

.App-game-waitroom-form-title {
  font-size: 1.5rem;
  font-weight: 500;

  color: #fff;
}

.App-game-waitroom-form-subtitle {
  font-size: 1.0rem;
  font-weight: 500;

  color: #fff;
}

.App-game-waitroom-form-subtitle-code {
  font-weight: 750;

  color: #ff0000;
}

.App-game-waitroom-form-players {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.App-game-waitroom-form-players-title {
  font-size: 1.0rem;
  font-weight: 500;

  width: 100%;

  color: #fff;
  background-color: #007fd3;
  border-radius: 16px 16px 0px 0px;
}
.App-game-waitroom-form-players-title-inner {
  padding: 8px;
}

.App-game-waitroom-form-players-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  padding: 8px;
  width: 320px;

  background-color: #282c34;
  border-radius: 0px 0px 16px 16px;
}

.App-game-waitroom-form-players-list-inner {
  display: block;
}

.App-game-waitroom-form-players-list-inner-player {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 4px;
}

.App-game-waitroom-form-players-list-inner-player-lag {
  color: #cfcfcf;
}

.App-game-waitroom-form-players-list-inner-player-icon {
  height: 21px;
  width: 22px;
}

.App-game-waitroom-form-warning {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  width: 320px;
  padding: 5px;

  font-weight: 500;
  background-color: #854e07;
}

.App-game-waitroom-form-warning-icon {
  font-size: 1.5rem;
}

.App-game-waitroom-form-warning-text {
  display: flex;
  flex: 1 1 auto;

  width: 320px;

  font-weight: 500;
  background-color: #854e07;
}

.App-game-waitroom-form-input-label {
  font-size: 1.0rem;
  font-weight: 500;

  color: #fff;
}

.App-game-waitroom-form-actions {

}

.App-game-waitroom-form-button {
  width: 240px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;

  font-size: 1.5rem;
  font-weight: 500;

  color: #ddd;
  background-color: #20b112;
  box-shadow: inset -2px -2px 0px 0px #999;
}

.App-game-waitroom-form-button:hover {
  color: #eee;
  background-color: #25ce15;
}

.App-game-waitroom-form-button:active {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: -2px;
  margin-bottom: -2px;

  color: #fff;
  background-color: #4bda3e;
  box-shadow: inset 0px 0px 0px 0px #999;
}

.App-game-waitroom-form-button:disabled {
  color: #b3b3b3;
  background-color: #353535;
  box-shadow: inset 0px 0px 0px 0px #999;
}

/*
* Game Room
*/

.App-game-gameroom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.App-game-gameroom-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  width: 100%;

  border-radius: 16px 16px 0px 0px;
  background-color: #0030a0;
}

.App-game-gameroom-header-element {

  width: 33.3%;

  padding: 8px;
}

.App-game-gameroom-header-element-roomcode {
  display: flex;
  flex-direction: row;
}

.App-game-gameroom-header-element-time {
  display: flex;
  flex-direction: row-reverse;
}

.App-game-gameroom-header-code {
  font-weight: 750;

  color: #ff0000;
}

.App-game-gameroom-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 auto;

  width: 100%;
}

.App-game-gameroom-header-element-phase {
  /* ? */
}

.App-game-gameroom-header-element-phase-active {
  font-weight: 750;
  color: #00ff2a;
  font-size: 16px;

  animation-name: active-phase;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes active-phase {
  from {
    color: #00ff2a;
  }
  to {
    color: #ffff00;
  }
}

.App-game-gameroom-header-element-phase-inactive {
  font-weight: 750;
}

.App-game-gameroom-content-playerslist {
  position: absolute;

  opacity: 0.2;

  transition: opacity 0.3s ease-in-out;
}

.App-game-gameroom-content-playerslist:hover {
  opacity: 1.0;
}

.App-game-gameroom-content-playerslist-inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 240px;
}

.App-game-gameroom-content-playerslist-inner-title {
  width: 100%;

  background-color: #4d5463;
}

.App-game-gameroom-content-playerslist-inner-title-inner {
  font-size: 1.0rem;
  font-weight: 500;

  padding: 8px;
}

.App-game-gameroom-content-playerslist-inner-list {
  display: flex;

  width: 100%;

  background-color: #282c34;
}

.App-game-gameroom-content-playerslist-inner-list-inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  width: 100%;
  padding: 8px;
}

.App-game-gameroom-content-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  width: 100%;
}

.App-game-gameroom-content-game-choices {
  /* width: 100%; */
  height: 100%;
}

.App-game-gameroom-content-game-choices-prompt {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.App-game-gameroom-content-game-choices-finisher {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.App-game-gameroom-content-game-choices-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  border-radius: 16px;
  margin-bottom: 16px;
}

.App-game-gameroom-content-game-choices-choice-button {
  padding: 10px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;
  width: 100%;

  color: #ddd;
  background-color: #416894;
  box-shadow: inset -2px -2px 0px 0px #999;
}

.App-game-gameroom-content-game-choices-choice-button-disabled {
  padding: 10px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;
  width: 100%;

  color: #eee;
  background-color: #33363a;
  box-shadow: inset -2px -2px 0px 0px #999;
}

.App-game-gameroom-content-game-choices-choice-button-prompt {
  font-size: 24px;
  font-weight: 750;
}

.App-game-gameroom-content-game-choices-choice-button-finisher {
  font-size: 18px;
  font-weight: 750;

  min-width: 240px;
  max-width: 240px;
  height: 100%;
}

.App-game-gameroom-content-game-choices-choice-button:hover {
  color: #eee;
  background-color: #345479;
}

.App-game-gameroom-content-game-choices-choice-button:active {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: -2px;
  margin-bottom: -2px;

  color: #fff;
  background-color: #21354d;
  box-shadow: inset 0px 0px 0px 0px #999;
}

.App-game-gameroom-content-game-prompt {
  width: 100%;
  margin-bottom: 16px;

  font-weight: 750;
  font-size: 32px;
  color: #000;
  text-shadow: 2px 2px 1px #ccc;
  background-color: #fff;
}

.App-game-gameroom-content-game-prompt-winnerplayer {
  color: #c7ca00;
  text-shadow: 2px 2px 1px #000;

  animation-name: prompt-winnerplayer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes prompt-winnerplayer {
  from {
    color: #c7ca00;
  }
  to {
    color: #f1f500;
  }
}

.App-game-gameroom-content-game-prompt-winnerfinisher {
  color: #ff0000;
  text-shadow: 2px 2px 1px #000;
}

.App-game-gameroom-content-game-finishers {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
}

.App-game-gameroom-content-game-finishers-finisher {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  width: 220px;

  background-color: #a79883;

  border-radius: 16px;
}

.App-game-gameroom-content-game-finishers-finisher-border {
  background: radial-gradient(#ffffa8, #cecc51);
}

.App-game-gameroom-content-game-finishers-finisher-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;

  /* Need to manually set the width because padding messes things up... */
  width: 204px;
  height: 100%;
}

.App-game-gameroom-content-game-finishers-finisher-inner-text {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;

  padding-bottom: 12px;
  width: 100%;

  font-weight: 750;
  font-size: 18px;
  color: #000;
}

.App-game-gameroom-content-game-finishers-finisher-inner-player {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;

  font-weight: 750;
  font-size: 14px;
  color: #000;
}

.App-game-gameroom-content-game-winners {
  width: 100%;
  margin-bottom: 16px;

  font-weight: 750;
  font-size: 32px;
  color: #000;
  text-shadow: 2px 2px 1px #ccc;
  background-color: #fff;
}

.App-game-gameroom-content-game-winners-winner {
  color: #c7ca00;
  text-shadow: 2px 2px 1px #000;

  animation-name: winners-winnerplayer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes winners-winnerplayer {
  from {
    color: #c7ca00;
  }
  to {
    color: #f1f500;
  }
}

.App-game-gameroom-content-game-nextround {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  width: 380px;
  margin-top: 24px;
}

.App-game-gameroom-content-game-nextround-button {
  padding: 10px;

  outline: none;
  border: 0 none;
  border-radius: 10px;

  margin-top: 0px;
  margin-left: 0px;
  width: 100%;

  font-size: 24px;
  font-weight: 750;

  color: #ddd;
  background-color: #119100;
  box-shadow: inset -2px -2px 0px 0px #999;

  animation-name: nextround-button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes nextround-button {
  from {
    color: #ddd;
    background-color: #119100;
  }
  to {
    color: #eee;
    background-color: #16bb00;
  }
}

.App-game-gameroom-content-game-nextround-button:hover {
  color: #fff;
  background-color: #1adb00;

  animation-name: none;
}

.App-game-gameroom-content-game-nextround-button:active {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: -2px;
  margin-bottom: -2px;

  color: #bbb;
  background-color: #063300;
  box-shadow: inset 0px 0px 0px 0px #999;

  animation-name: none;
}

.App-game-gameroom-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  width: 100%;

  border-radius: 0px 0px 16px 16px;
  background-color: #0030a0;
}

.App-game-gameroom-footer-message {
  padding: 4px;
}

.App-game-gameroom-footer-message-active {
  font-weight: 750;
  font-size: 16px;
  color: #00ff2a;

  animation-name: active-message;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes active-message {
  from {
    font-size: 16px;
    color: #00ff2a;
  }
  to {
    font-size: 15px;
    color: #ffff00;
  }
}

.App-game-gameroom-footer-message-inactive:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;

  animation: ellipsis steps(4, end) 3000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px; /* Normally hidden */
}

@keyframes ellipsis {
  to {
    width: 16px; /* Highly dependant on the font-size... */
  }
}
